section{
  background-color: #FFF0C8 ;
}


.n1{
  margin-top: 100px ;
  background: rgb(181,162,116);
background: linear-gradient(90deg, rgba(181,162,116,1) 0%, rgba(205,203,102,1) 16%, rgba(255,254,198,1) 100%);
}

img{
padding-top: 60px  ;
padding-left: 100px;
  height:550px;
  width: 450px;
}

.card-title{
  background: rgb(181,162,116);
  background: linear-gradient(90deg, rgba(181,162,116,1) 0%, rgba(205,203,102,1) 16%, rgba(255,254,198,1) 100%);

}

.card-body{
  margin-left: 80px;
  height: 500px;
background-color: #cdcb66;
}

.card-text{
  margin-bottom: 40px;

}
